<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href = "/css/home.css">
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <main>
            <div id="heading">TODO App</div>
            <form action="/create-list" method="POST">

            <div class="input_div">

                <div id="first_div">
                <label  id="heading1" for="description">DESCRIPTION</label><br>
                <input id="description" class="input_text" type="text" placeholder="What Do You Want To Do ..." required name="description">
                </div>

                <div class="flex-container">
                <div id="second_div">
                <label for="category" id="heading2">CATEGORY</label><br>         
                     <select id="category" name="category">>
                    <option class="white" value="none" selected>Choose a category </option>
                     <option  class="white"  value="Personal">Personal</option>
                     <option class="white"  value="Work">Work</option>
                     <option class="white"  value="School">School</option>
                     <option class="white"  value="Cleaning">Cleaning</option>
                     <option class="white"  value="Other">Other</option>
                </select>
            </div>

            <div id="third_div">
                <label for="due-date" id="heading3">Due-Date</label><br>
                <input type="date" id="due-date" required name="date">
            </div>
                </div>
                
            <div id="button">
                <button id="add-button" type="submit">
                     <i class="fas fa-plus"></i> 
                     ADD TASK
                    </button>
                    
                
            
            </form>

            <form action="/delete-item" method="get" class="aform">

                <button id="del-button" type="submit"> 
                    <i class="fas fa-trash-alt"></i>  
                    DELETE TASKS
                </button>
            </div>
        </div>
                <% for (let i of TODO_List) { %> 
                    <div class="list">
                        <li>
                            <div class="list-items">
                                <label class="container">
                                <input type="checkbox" id="checkbox" name="<%= i._id %>">
                                <span id="list-desc"> <%= i.description %></span>
                                <span class="checkmark" id="check()"></span>
                                </span>
                            </label>
                            
                            <% if(i.category === 'Personal'){ %>
                                <span class="list-category" style="background-color: rgb(24%, 42%, 73%)"><%= i.category %></span>
                                <%}%>
                                <% if(i.category === 'School'){ %>
                                    <span class="list-category" style="background-color: #F2A700"><%= i.category %></span>
                                <%}%>
                                <% if(i.category === 'Work'){ %>
                                    <span class="list-category" style="background-color: #9C00AF"><%= i.category %></span>
                            <%}%>
                                <% if(i.category === 'Cleaning'){ %>
                                        <span class="list-category" style="background-color: rgb(214, 43, 43)"><%= i.category %></span>
                                <%}%>
                                <% if(i.category === 'Other'){ %>
                                    <span class="list-category" style="background-color: rgb(9, 206, 58)"><%= i.category %></span>
                                <%}%>
                                <span class="list-date">  <i id="calendar" class="far fa-calendar-alt"></i> &nbsp; <%= i.date %></span>
                            </div>
                        </li>
                    </div>
                    <% } %>
            </form>
        </main>

        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>